{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <ul style="list-style: none; margin-left: -38px";>
        {% for category in categories %}
            <li style="display: inline; margin-right: 60px;">
                <a href="{% url 'category_listings' category %}">{{ category|title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <div class="row">
            {% for listing in watchlist %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if listing.image %}
                        <img class="card-img-top card-img-height" src="{{ listing.image }}" alt="{{ listing.title }}" style="height: 300px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                            <p>Current Bid: ${{ listing.current_bid|floatformat:2 }}</p>
                            <a href="{% url 'view_listing' listing.id %}" class="btn btn-primary">View Listing</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
